{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
<div class="auth-container">
    <div class="auth-box">

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <h1>Accedi</h1>

            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" required autofocus>

            <label for="password">Password</label>
            <input type="password" name="_password" id="password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">Login</button>

        </form>

        <div class="auth-links">
            <a href="{{ path('app_register') }}">Non hai un account? Registrati</a>
        </div>

    </div>
</div>
{% endblock %}

